[submodule "restapi"]
	path = restapi
	url = git@github.com:satzbeleg/evidence-restapi.git
[submodule "database"]
	path = database
	url = git@github.com:satzbeleg/evidence-database.git
[submodule "webapp"]
	path = webapp
	url = git@github.com:satzbeleg/evidence-app.git
